* {
    font-family: 'Roboto', sans-serif;
}

.title {
    background-color: red;
    text-align: center;
}

.plot-div {
    background-color: blue;
    margin: 10px;
    margin-right: 20px;
    width: 99%;
    height: 500px;
    display: inline-flex;
}

.plot-div div{
    resize: both;
    overflow: auto;
    width: 100%;
    margin: 10px;
}
